---
layout: card
title: Coaching Boys into Men
tagline: Supporting tagline
scripts: ['js/app.js', 'js/start_app.js']
---
{% include JB/setup %}

<div class="menu-container"></div>

<script type='text/template' id='card-list-template'>
<div class="iosSlider">
  <div class="slider"></div>
</div>
</script>

<script type='text/template' id='card-template'>
<div id="header" class="<%= category %>">
  <div class="container">
    <h2><%= category.toUpperCase() %> <%= number %></h2>
    <h3><%= title %></h3>
  </div>
</div>
<div class="container">
  <%= content %>
</div>
</script>

<script type='text/template' id='menu-template'>
  <a href="#"class="showMenu" style="margin-bottom:-70px; z-index:4; position:relative;"><img src="assets/themes/coaches/img/dropdown.png"></a>
  <div class="slideSelectors">
    <ul>
    </ul>
  </div>
</script>

<script type='text/template' id='menu-item-template'>
  <li class="item"><a href="#" data-slide="<%= slide %>"><%= title %></a></li>
</script>