---
layout: card
title: Coaching Boys into Men
tagline: Supporting tagline
scripts: ['js/app.js', 'js/start_app.js']
---
{% include JB/setup %}

<div class="menu-container"></div>

<script type='text/template' id='card-list-template'>
</script>

<script type='text/template' id='card-template'>
<div id="header">
  <div class="container">
    <h2><%= category.toUpperCase() %> <%= number %></h2>
    <h3><%= title %></h3>
  </div>
</div>
<div class="container">
  <div class="content">
    <%= content %>
  </div>
</div>
</script>

<script type='text/template' id='menu-template'>
  <a href="#"class="showMenu" style="margin-bottom:-70px; z-index:4; position:relative;"><img src="assets/themes/coaches/img/dropdown.png"></a>
  <div class="slideSelectors">
    <ul>
    </ul>
    <div class="menu__about-link">
      <a href="/about.html"><h3>About</h3></a>
    </div>
  </div>
</script>

<script type='text/template' id='menu-item-template-old'>
  <li class="item"><a href="#" data-slide="<%= slide %>"><%= title %></a></li>
</script>

<script type='text/template' id='menu-item-template'>
  <li class='menu__category <%= category %>'><%= category.toUpperCase() %>
    <ul>
      <% _.each(items, function(item) { %>
        <li class="item"><a href="#" data-slide="<%= item.slide %>" data-category="<%= category %>"><%= item.title %></a></li>
      <% }); %>
    </ul>
  </li>
</script>