/* Variables
================================================== */
$orange:  #ff7800;
$black:   #000;
$bggray:  #C6C5C2;
$blue:    #045568;

$prep-color:      #0D3F78;
$training-color:  #8AB831;
$halftime-color:  #791B83;
$overtime-color:  $halftime-color;
$teachable-color: #E30F19;

$card-types: (prep, training, halftime, overtime, teachable);
$card-colors: ($prep-color, $training-color, $halftime-color, $overtime-color, $teachable-color);
