/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* SASS/Compass Mixins
================================================== */
@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

/* Variables
================================================== */
$orange: #ff7800;
$black:#000;
$bggray:#C6C5C2;
$blue:#045568;


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background:#FFF;  
        background: url(../img/bg_orange.jpg) no-repeat center center fixed; 
              @include vendor-prefix(background-size, cover);
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 	 ::selection {
 		background-color: $orange;
 		color: #FFF;
 	}



/* #Typography
================================================== */
	h2, h3, h4, h5, h6, p{
		color: #181818;
		font-family: "Open Sans", "Georgia", serif;
		font-weight: normal; }

	h1 { font-family: 'Alfa Slab One', cursive;
		text-transform: uppercase;
		color: white;
		text-align: right;
		margin-top: 10%;
		font-size: 46px; 
		line-height: 1.5em;
		@media screen and (max-width: 500px) {
			margin-top:20%

		}
		@media screen and (min-width: 1000px) {
			margin-top:6%

		}
text-shadow: 1px 8px 8px #383535; 
	}

	h5 { font-family: "Open Sans", cursive;
			font-weight: 100;
			text-transform: lowercase;
			color: white;
			text-align: right;
			margin-top: 10%;
			font-size: 60px;
			position: fixed;
			bottom: 0px;
			margin: 70px auto;
			z-index: 2;

		a{
			text-decoration:none;
		}


	}

h4{
		color:$blue;
		font-size: 40px;
		font-weight:500;
		line-height:45px;
		margin-top:10px;
	}

	.subheader { color: #777; }

	p { margin: 0 0 20px 0; 

	}

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 25px; line-height: 30px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


/* #Index Page Elements
================================================== */



#intropage h1{
	max-width: pagewidth/2;

}

#topBar{
	height:30px;
	width:100%;
	background: rgba(0,0,0,.8);
	position:fixed;
	top:0;

	p{
		color:white;
		width:100%;
		text-align:center;
		margin-top:5px;
	}
}

#bottomBar{
	height:150px;
	width:100%;
	background: rgba(0,0,0,.8);
	position:fixed;
	bottom:0;
	@include transition(background-color, .5s, ease);

	@media screen and (max-width: 1200px) {
		height:30%;

	}
	@media screen and (max-width: 900px) {
		height:40%;

	}
	@media screen and (max-width: 300px) {
		height:30%;

	}

	h5{
		margin: 60px auto;
		width: 100%;
		text-align: center;
			@media screen and (max-width: 1200px) {
			height:10%;

			}
			@media screen and (max-width: 900px) {
				height:20%;

			}
			@media screen and (max-width: 600px) {
				height:30%;

			}
			@media screen and (max-width: 300px) {
				font-size:36px;

			}
			
	}

	&:hover { background: rgba(255,255,255,.5); 

		h5{
			@include transition(color, .5, ease);
			color:black;



		}

	}

}



/* #Card Pages
================================================== */

.clear{
	clear:both;
}


	.training{
		background-color:$orange;
	}
	.prep{	background-color:$blue;
}

#header{
	width:100%;
	opacity: .8;
	height:auto;
	padding-bottom:17px;
	padding-top:17px;



	h2{
		color:#fff;
		font-size: 40px;
		text-transform:uppercase;
		float:left;
		margin-right:10px;
		line-height:45px;
		font-weight: 800;
		@media(max-width:1050px){
			margin-left:80px;
		}

	}
	h3{
		color:#fff;
		font-size: 40px;
		float:left;
		font-weight:200;
		line-height:45px;
	}
}
.cardContainer{
	width:100%;
	min-width:300px;
	height:800px;
	position: relative;
	clear: both;


	p{
		font-size:25px;
		line-height:30px;
		color:$black;
		margin-top:20px;
	}

}

blockquote{
	color:$black;
}

#bodybg{
	width:100%;
	height:auto;
	opacity:.7;
	background-color:$bggray;
	padding-bottom:20px;
}

.cardContent{
	width:45%;
	float:left;
	margin-bottom:20px;
	li{
		list-style:	circle;
		margin-left:50px;
		line-height:30px;
		font-size:25px;
	}
	@media screen and (max-width:600px){
		width:98%;
	}

}


/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	width: 100%;
	height: 100%;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
	height: 100%;
}

/* slide */
.iosSlider .slider .slide {
	/* required */
	float: left;

	width: 100%;
	height: 100%;
}


#menu {
	position: relative;

	.slideSelectors {
		width: 16em;
		height: 100%;
		position: absolute;
		top: 0;
		left: -16em;
		background-color: #808080;
		clear: both;
		overflow: hidden;
	}

	.showMenu {
		float: left;
		display: block;
		padding: 1em;
	}
	ul{padding:20px;

	li{

		a{
			text-decoration: none;
			font-family: 'Open Sans',sans-serif;
			text-transform: uppercase;
			font-weight: 800;
			color:#fff;
			font-size:24px;
			margin-bottom:2em;
			line-height:1.2em;

			&:hover{
				color: $orange;
			}
		}
		font-size:20px;
		h3{
						text-decoration: none;
			font-family: 'Open Sans',sans-serif;
			text-transform: uppercase;
			font-weight: 800;

		}

		

		}

	}


}


.item {
		border-bottom: 1px solid white;
		min-height:2.5em;
			}



blockquote:after {
  font-family: FontAwesome;
  content: "\f10e";
}

blockquote:before {
  font-family: FontAwesome;
  content: "\f10d";
}

