
<div id="bodybg">
		{{ content }}
</div>

<div id="footer">
  <div class="container footer-container">
  	<a href="http://www.futureswithoutviolence.org" target="_new"><img class="footer__logo-futures" src="{{ ASSET_PATH }}/img/futures_without_violence_logo.png" /></a>
    <p class="footer__content">
      &copy; Futures Without Violence. All rights reserved. For more information, please contact us at <a href="mailto:coachescorner@futureswithoutviolence.org">coachescorner@futureswithoutviolence.org</a>
    </p>
  </div>
</div>
