
<div id="bodybg">
		{{ content }}
</div>

<div id="footer">
  <div class="container footer-container">
    <p class="text-muted footer__content">
      &copy; Futures Without Violence. All rights reserved. Coaching Boys into Men is a registered trademark and the exclusive property Futures Without Violence. The contents herein may only be adapted with the express written consent of Futures Without Violence. For more information, please contact us at <a href="mailto:coachescorner@futureswithoutviolence.org">coachescorner@futureswithoutviolence.org</a>
      <img class="footer__logo" src="{{ ASSET_PATH }}/img/cbim_logo.png" height="80px" width="93px"/>
    </p>
  </div>
</div>
