<div id= "bottomBar" style="padding:10px;">
  <img src="{{ ASSET_PATH }}/img/futures_without_violence_logo.png" class="futures-logo"/>
  <a href="cards.html" class='start-cards'><h5 class="get-started">Get Started</h5></a>
  <img src="{{ ASSET_PATH }}/img/cbim_logo.png" class="cbim-logo"/>
  <h5 class="text-muted copyright">&copy;2013 Futures Without Violence. All rights reserved. Coaching Boys into Men is a registered trademark and the exclusive property Futures Without Violence. The contents herein may only be adapted with the express written consent of Futures Without Violence. For more information, please contact us at <a href="mailto:coachescorner@futureswithoutviolence.org">coachescorner@futureswithoutviolence.org</a>.</h5>
</div>