/* Variables
================================================== */
/* SASS/Compass Mixins
================================================== */
/* #Index Page Elements
================================================== */
#intropage h1 {
  max-width: pagewidth/2; }

#topBar {
  height: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0; }
  #topBar p {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px; }

#bottomBar {
  height: 150px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media screen and (max-width: 1200px) {
    #bottomBar {
      height: 30%; } }
  @media screen and (max-width: 900px) {
    #bottomBar {
      height: 40%; } }
  @media screen and (max-width: 300px) {
    #bottomBar {
      height: 30%; } }
  #bottomBar h5 {
    margin: 60px auto;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      #bottomBar h5 {
        height: 10%; } }
    @media screen and (max-width: 900px) {
      #bottomBar h5 {
        height: 20%; } }
    @media screen and (max-width: 600px) {
      #bottomBar h5 {
        height: 30%; } }
    @media screen and (max-width: 300px) {
      #bottomBar h5 {
        font-size: 36px; } }
  #bottomBar:hover {
    background: rgba(255, 255, 255, 0.5); }
    #bottomBar:hover h5 {
      -webkit-transition: color 0.5 ease;
      -moz-transition: color 0.5 ease;
      -ms-transition: color 0.5 ease;
      -o-transition: color 0.5 ease;
      transition: color 0.5 ease;
      color: black; }

/* #Basic Styles
================================================== */
body {
  background: #FFF;
  background: url(../img/page_background.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

::selection {
  background-color: #ff7800;
  color: #FFF; }

/*
body.prep, body.training, body.hafltime, body.overtime, body.teachable {
    &:after {
    content: '\00A9iStock.com';
    color: #999;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
*/
body.training {
  background: url(../img/page_background_training.jpg) no-repeat center center fixed; }

body.halftime, body.overtime {
  background: url(../img/page_background_half_overtime.jpg) no-repeat center center fixed; }

/* #Typography
================================================== */
#fittext1 {
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  color: white;
  text-align: left;
  margin-top: 10%;
  font-size: 46px;
  line-height: 1.5em;
  margin-left: 2%;
  margin-right: 2%;
  text-shadow: 1px 8px 8px #383535; }
  @media screen and (max-width: 500px) {
    #fittext1 {
      margin-top: 20%; } }
  @media screen and (min-width: 1000px) {
    #fittext1 {
      margin-top: 6%; } }

#bottomBar h5 {
  font-family: "Open Sans", cursive;
  font-weight: 100;
  text-transform: lowercase;
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 60px;
  position: fixed;
  bottom: 0px;
  margin: 70px auto;
  z-index: 2; }
  #bottomBar h5 a {
    text-decoration: none; }

/*
h4 {
  color:$blue;
  font-size: 40px;
  font-weight:500;
  line-height:45px;
  margin-top:10px;
}
*/
/* #Card Pages
================================================== */
.clear {
  clear: both; }

.prep #header {
  background-color: #0d3f78; }
.prep .content {
  border: 3px solid #0d3f78; }
  .prep .content h2, .prep .content strong {
    color: #0d3f78; }

.training #header {
  background-color: #8ab831; }
.training .content {
  border: 3px solid #8ab831; }
  .training .content h2, .training .content strong {
    color: #8ab831; }

.halftime #header {
  background-color: #791b83; }
.halftime .content {
  border: 3px solid #791b83; }
  .halftime .content h2, .halftime .content strong {
    color: #791b83; }

.overtime #header {
  background-color: #791b83; }
.overtime .content {
  border: 3px solid #791b83; }
  .overtime .content h2, .overtime .content strong {
    color: #791b83; }

.teachable #header {
  background-color: #e30f19; }
.teachable .content {
  border: 3px solid #e30f19; }
  .teachable .content h2, .teachable .content strong {
    color: #e30f19; }

#header {
  width: 100%;
  opacity: 1;
  height: auto;
  padding-bottom: 17px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.6); }
  #header h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 45px;
    font-weight: 800; }
    @media (max-width: 1050px) {
      #header h2 {
        margin-left: 80px; } }
  #header h3 {
    color: #fff;
    font-size: 40px;
    float: left;
    font-weight: 200;
    line-height: 45px;
    margin-top: 10px; }

.cardContainer {
  width: 100%;
  min-width: 300px;
  min-height: 800px;
  position: relative;
  clear: both; }
  @media screen and (min-device-width: 480px) {
    .cardContainer .container {
      padding-left: 0px; } }
  @media screen and (max-device-width: 480px) {
    .cardContainer .container {
      padding-left: 3px;
      padding-right: 3px; }
    .cardContainer .content h2 {
      word-break: break-word; } }

blockquote {
  color: black; }

/* Footer
========================== */
#footer {
  height: 80px;
  background-color: #f5f5f5;
  position: relative; }

.footer-container {
  width: auto;
  padding: 0 15px;
  margin: 0 auto; }

.footer__content {
  margin: 10px 0; }

.footer__logo {
  position: absolute;
  top: 0;
  right: 0; }

#bodybg {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -80px;
  padding: 0 0 80px; }

#bodybg:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(transparent, #222222); }

@media screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .footer-container {
    margin: 0 90px 0 0; } }
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #footer {
    height: 120px; }

  #bodybg {
    margin: 0 auto -120px;
    padding: 0 0 120px; } }
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #footer {
    height: 150px; }

  #bodybg {
    margin: 0 auto -150px;
    padding: 0 0 150px; } }
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  #footer {
    height: 300px; }

  #bodybg {
    margin: 0 auto -300px;
    padding: 0 0 300px; } }
.cardContent {
  width: 45%;
  float: left;
  margin-bottom: 20px; }
  @media screen and (max-width: 600px) {
    .cardContent {
      width: 98%; } }
  .cardContent .content {
    background-color: #fff;
    padding: 10px 20px 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px; }
    .cardContent .content a {
      color: #ff7800; }
    .cardContent .content blockquote {
      background: #f9f9f9;
      font-size: 17px; }

#menu {
  position: relative; }
  #menu .slideSelectors {
    width: 16em;
    height: 100%;
    position: absolute;
    top: 0;
    left: -16em;
    background-color: #808080;
    clear: both;
    overflow: hidden; }
    #menu .slideSelectors ul {
      padding: 15px;
      list-style: none outside; }
      #menu .slideSelectors ul li {
        font-size: 20px; }
        #menu .slideSelectors ul li a {
          text-decoration: none;
          font-family: 'Open Sans',sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          color: #fff;
          font-size: 14px;
          margin-bottom: 2em;
          line-height: 1.2em; }
          #menu .slideSelectors ul li a:hover {
            color: #ff7800; }
        #menu .slideSelectors ul li h3 {
          text-decoration: none;
          font-family: 'Open Sans',sans-serif;
          text-transform: uppercase;
          font-weight: 800; }
    #menu .slideSelectors ul ul li {
      margin-bottom: 6px;
      line-height: 18px; }
  #menu .showMenu {
    float: left;
    display: block;
    padding: 1em; }

.item {
  min-height: 1.3em; }

.item a.current {
  color: #ff7800 !important; }

.menu__category {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px; }
  .menu__category ul {
    padding: 6px 6px 6px 10px !important;
    margin: 5px 0px 0px 0px;
    display: none; }

.menu__category.open ul {
  display: block; }

.menu__about-link {
  position: absolute;
  bottom: 0;
  left: 25px; }
  .menu__about-link a {
    color: #ff7800; }

blockquote:after {
  font-family: FontAwesome;
  content: "\f10e"; }

blockquote:before {
  font-family: FontAwesome;
  content: "\f10d"; }

/* #Slider
=========================== */
.bx-wrapper .bx-viewport {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  left: 0; }

/* #About
=========================== */
.about {
  background-color: #fff;
  margin-top: 60px; }
